.contentModal{
    -fx-background-color : WHITE;
}

.bodyModal{
    -fx-background-color : WHITESMOKE;
    -fx-background-radius :  0px  0px 5px 5px;
    -fx-border-width : 2px 1px 0px 1px;
    -fx-padding : 5px 5px 5px 5px;
}

.bottomModal{
    -fx-background-color : WHITESMOKE;
    -fx-border-color : BLACK;
    -fx-border-width : 2px 0px 1px 0px;
}

.empty{
       -fx-background-color : WHITESMOKE;
       -fx-border-color : BLACK;
       -fx-border-width : 0px;
}