.content{
    -fx-background-color : WHITESMOKE;
    //-fx-border-color : rgba(255,0,0,1);
    -fx-background-inset : 20px;
    //-fx-background-radius : 10px;
    -fx-border-width : 0px 3px 3px 0px;
    -fx-padding : 10px;
}

.contentModal{
    -fx-background-color : rgba(0,100,190,0.3);
    //-fx-border-color : rgba(255,0,0,1);
    //-fx-background-inset : 20px;
    -fx-background-radius : 15px;
    -fx-border-radius : 15px;
    -fx-border-color  : rgba(255,255,255,0.5);
    -fx-border-width : 2px;
    -fx-padding : 0px  5px 5px 5px;
    -fx-effect : dropshadow(gaussian,rgba(0,0,0,0.3),10,0,10,10);
}

.bodyModal{
    -fx-background-color : WHITESMOKE;
    //-fx-border-color : rgba(255,0,0,1);
    //-fx-background-inset : 20px;
    -fx-background-radius :  0px  0px 5px 5px;
    //-fx-border-radius : 0px  0px 5px 5px;
    //-fx-border-color  : GREEN;
    -fx-border-width : 2px 1px 0px 1px;
    -fx-padding : 5px 5px 5px 5px;
    //-fx-effect : dropshadow(gaussian,rgba(0,0,0,0.3),10,0,10,10);
}

.titleModal{
    -fx-alignment : center;
    -fx-text-alignment : center;
    -fx-text-fill : WHITESMOKE;
    -fx-font-family	: SegoeUI;
    -fx-font-size : 15px;
    -fx-font-style	: normal;
    -fx-font-weight : bold;
    -fx-padding : 0 0 0 5;
}

.bottomModal{
    -fx-border-color : BLACK;
    -fx-border-width : 2px 0px 1px 0px;
}

.button{
    //-fx-background-color : blue;
}

.iconButton{
    -fx-background-color : none;
    -fx-alignment : center;
    -fx-padding: 0 0 0 0;
}

.iconButton:disabled{
    -fx-opacity : 1;
}

.iconButtonPressed{
    -fx-background-color : DARKGREY;
}

.iconButtonRealised{
    //-fx-background-color : red;
}