
.root{
    //Define Default variable
    -default-border-1 : whitesmoke;
    -default-border-2 : derive(lightgrey,-35%);
    -default-border-darker : derive(lightgrey,-45%);

    -default-fill-color : black;
    -default-hover-fill-color : whitesmoke;
    -default-selected-fill-color : whitesmoke;

    -default-background : whitesmoke;
    -default-background-light-darker : derive(whitesmoke,-7.5%);
    -default-background-darker : derive(whitesmoke,-15%);

    -default-glyph-fill : -default-fill-color;
    -default-glyph-hover-fill : -default-fill-color;
    -default-glyph-hover-background : -default-background-light-darker;
    -default-glyph-selected-fill : -default-hover-fill-color;
    -default-glyph-selected-background : derive(whitesmoke,-25%);

    -default-warning-fill-color : #FF8C00;

    -fx-background-color : -default-background;

//Number not supported
    //-fx-text-size : 1em;
    //-fx-text-size-bigger : 1.25em;

    //-fx-icon-size : 10em;
    //-fx-icon-size-bigger : 1.25em;
}

.table{
   -fx-vgap : 0.15em;
   -fx-hgap : 0.15em;
}

.table .tableElement{
    -fx-font-size : 0.75em;
    -fx-font-weight : bold;
    -fx-text-fill: black;
    -fx-background-color: -default-background-darker;
    -fx-border-color: -default-border-1 ;
    -fx-border-width : 0.15em;
    -fx-border-insets : 0.15em;
    -fx-background-radius: 0;
}

.borderDefault{
    -fx-border-color :  -default-border-1, -default-border-2;
    -fx-border-width : 0.075em, 0.075em;
    -fx-border-radius : 0px, 0px;
    -fx-border-insets : 0.15em, 0.075em;
    -fx-border-style : solid centered, solid centered;

}

.contentDefault{
     -fx-background-color : -default-background-darker;
}

.contentPaneDefault{
    -fx-background-color : -default-background;
}

.leftPanel{
    -fx-padding : 0.15em;
    -fx-vgap : 0.375em;
}

.labelContent{
    -fx-background-color : SILVER;
    -fx-alignment : center-left;
    -fx-text-alignment : left;
    -fx-text-fill : black;
    -fx-background-radius : 0px;
    -fx-background-inset : 0px;

    //-fx-font-family	: SegoeUI;
    //-fx-font-size : 13px;
    -fx-font-style	: normal;
    -fx-font-weight : normal;
    -fx-cursor  : hand;
}

.labelContent:hover{
    -fx-background-color : slategrey;
}

.labelContent:disabled{
    -fx-cursor : wait;
    -fx-font-style	: italic;
    -fx-background-color : darkgrey;
}

.labelContent:selected{
    -fx-cursor  : normal;
    -fx-background-color : darkslategrey;
    -fx-text-fill: whitesmoke;
    -fx-font-weight : bold;
}


.firstToggleButton{
    -fx-border-color : whitesmoke, lightgrey, black;
    -fx-border-width : 0.15em, 0.225em, 0.075em;
    -fx-border-radius : 0px, 0px, 0px;
    -fx-border-insets : 0.15em, 0.075em, 0px;
    -fx-border-style : solid outside, solid inside, solid;
}

.dataSelectionContentPane{
    -fx-padding : 0.375em;
    -fx-vgap : 0.225em;
    -fx-hgap : 0.225em;
}


.dataSelectionContentPane .contentData{
    -fx-padding: inherit;
    -fx-border-color : darkslategrey;
    -fx-border-width : 0.15em;
    -fx-background-color : -default-background;
}

.fontawesomeIconDefault{
    -fx-font-size: 10em;
    -fx-fill: lightseagreen;
    -fx-background-color: transparent;
    -fx-graphic-text-gap: 0px;
    -fx-text-fill: gray;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 6, 0.0 , 0 , 2 );
}

.fontawesomeIconDefault:pressed{
    -icons-color: black;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.fontawesomeIconDefault:pressed:hover{
    -icons-color: black;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.fontawesomeIconDefault:hover{
    -icons-color: whitesmoke;
    -fx-text-fill: black;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.fontawesomeIconDefault:hover{
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

.dataSelectionContentPane .contentData .plus{
    //-glyph-name: "PLUS";
    //-glyph-size: -fx-icon-size;
    -fx-fill: lightseagreen;
    -fx-border-width: 5px;
    -fx-border-color: transparent;
    -fx-font-size: 2em;
    -fx-background-color: transparent;
    -fx-padding : 3px;
}

.dataSelectionContentPane .contentData .plus:hover{
   // -glyph-name: "PLUS";
   // -glyph-size: -fx-icon-size;
        -fx-border-color: transparent;
        -fx-font-size: 2em;
        -fx-background-color: transparent;
        -fx-padding : 3px;

    -fx-fill: grey;
}


.dataSelectionContentPane .contentData .title{
    -fx-border-color : black;
    -fx-border-width : 0px 0px 2px 0px;

    //-fx-font-family	: SegoeUI;
    -fx-font-size : 1.375em;
    -fx-font-style	: normal;
    -fx-font-weight : bold;
}


.dataSelectionContentPane .contentData .lineData{
    -fx-padding : inherit;
    -fx-vgap : inherit;
    -fx-hgap : inherit;
}

.dataSelectionContentPane .contentData .lineData .labelName{
    -fx-border-color : lightgrey;
    -fx-border-radius : 0.15em;
    -fx-background-color : linear-gradient(from 0% 50% to 100% 50%, whitesmoke 0%, lightgrey 100%);
    -fx-background-radius : 0.15em;
}

.dataSelectionContentPane .contentData .lineData .labelName:hover{
    -fx-border-color : rgba(39,134,230,0.5);
}

.dataSelectionContentPane .contentData .lineData .title{
    //-fx-font-family	: SegoeUI;
    //-fx-font-size : 15px;
    -fx-font-style	: normal;
    -fx-font-weight : bold;
    -fx-padding : 0px 0.15em 0px 0px;
    -fx-border-width : 0px 0px 0px 0px;
}

/**
* ACCORDION
**/
.accordion-option-pane{
    -fx-background-color: -default-background-light-darker;
    -fx-background-radius: 0px;
    -fx-padding : 0px;
}

.accordion-option-toggleButton{
    -fx-background-color: inherit;
    -fx-background-radius: 0px;
}

.accordion-option-toggleButton:selected .text{
    -fx-fill : -default-selected-fill-color;
}

.accordion-option-toggleButton:hover .text{
    -fx-fill : -default-hover-fill-color;
}

.accordion-option-toggleButton:selected{
    -fx-background-color: -default-glyph-selected-background;
    -fx-fill : -default-glyph-selected-fill;
}

.accordion-option-toggleButton:hover{
    -fx-background-color: -default-glyph-hover-background;
    -fx-fill : -default-glyph-hover-fill;
}

.leftPanelAccordionPanBar{
    -fx-border-color :  -default-border-1, -default-border-2;
    //-fx-border-width : 0px 0px 0px 0.075em, 0px 0px 0px 0.075em;
    -fx-border-radius : 0px, 0px;
    //-fx-border-insets : 0px 0px 0px 0.15em, 0px 0px 0px 0.075em;
    -fx-border-style : solid centered, solid centered;

    -fx-background-color : -default-background-darker;
}

.bottomPanelAccordionPanBar{
    -fx-border-color :  -default-border-1, -default-border-2;
    //-fx-border-width : 0.075em 0px 0px 0px, 0.075em 0px 0px 0px;
    -fx-border-radius : 0px, 0px;
    //-fx-border-insets : 0.15em 0px 0px 0px, 0.075em 0px 0px 0px;
    -fx-border-style : solid centered, solid centered;

    -fx-background-color : -default-background-darker;
}

.accordion-option-icon{
    -fx-background-color: inherit;
    -fx-fill : inherit;
}

.accordion-option-bar{
    -fx-border-color :  -default-border-1, -default-border-2;
    -fx-border-radius : 0px, 0px;
    -fx-border-style : solid centered, solid centered;
    -fx-background-color : -default-background-darker;
    -fx-padding : 0px;
}

.H{
//    -fx-border-width : 0.075em 0em 0em 0em, 0.075em 0em 0em 0em;
//    -fx-border-insets : 0.15em 0em 0em 0em, 0.075em 0em 0em 0em;
}

.V{
    //-fx-border-width : 0px 0px 0px 0.075em, 0px 0px 0px 0.075em;
    //-fx-border-insets : 0px 0px 0px 0.15em, 0px 0px 0px 0.075em;
}

.accordion-option-bar-title-H{
    -fx-alignment : center;
    -fx-text-alignment : center;
    -fx-font-size : 0.90em;
    -fx-padding : 0px 5px 0px 5px;
}


.accordion-option-bar-title-V{
    -fx-font-size : 0.90em;
    -fx-rotate : 90;
    -fx-padding : 0px 5px 0px 5px;
}

//Spectrum Option
//MendeleevTable (imported from NISTLoader Project)
.ElementTable{
    -fx-vgap : 0.15em;
    -fx-hgap : 0.15em;
}

.ElementCase:hover{
    -fx-border-color: DEEPSKYBLUE;
}

.ElementCase:selected{
    -fx-background-color : lightgreen ;
    -fx-border-color: darkseagreen  ;
}

.ElementCase{
    -fx-font-size : 0.75em;
    -fx-font-weight : bold;
    -fx-text-fill: black;
    -fx-background-color: -default-background-darker;
    -fx-border-color: -default-border-1 ;
    -fx-border-width : 0.15em;
    -fx-border-insets : 0.15em;
    -fx-background-radius: 0;
}


//DataSelectionContentPane
.square_close{
    -glyph-name: "SQUARE";
    -glyph-size: 30px;
    -fx-fill: radial-gradient(center 50% 50%, radius 100%, slategrey, whitesmoke);
}


.times_close{
    -glyph-name: "TIMES";
    -glyph-size: 25px;
    -fx-fill: darkslategrey;
    -fx-border-width: 5px;
    -fx-border-color: transparent;
}

.times_close:hover{
    -fx-fill: lightgrey;
}

//Progress Indicator
.mmxi-progress-indicator{
    -fx-background-color : rgba(0,0,0,0.5);
}

.spotContentLabel{
    -fx-border-color : -default-border-darker;
    -fx-background-color: -default-background-light-darker;
    -fx-padding: 5 0 5 10;
    -fx-border-width : 0 0 5 0;
}


//Label Types

.warningLabel{
    -fx-fill : -default-warning-fill-color;
}

